@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-menu > a {
  margin: 1rem;
}

.container-card {
  @apply rounded-lg bg-rose-700 text-white m-3 p-3 text-2xl flex flex-col items-start bg-[url('../src/assets/portrait.jpg')]  md:w-[20rem] lg:w-[30rem] sm:w-[100%];
}

button {
  @apply rounded bg-blue-600 text-white p-3 m-2;
}

.dark * {
  background-color: #333;
  color: white;
}
